#stage-content {
  height: 100%;
  width: 100%;
  * {
    box-sizing: border-box;
  }
  overflow: hidden;
  background-color: lightblue;
}

:root {
  --cell-width: min(7.5vw, 40px);
  --board-container-padding: 2em;
  --board-color: wheat;
  --attacks-color: purple;
  --cell-color: white;
  --hit-color: red;
  --miss-color: lightgrey;
  --ship-color: blue;
}
[data-stage] {
  width: 100%;
  height: 100%;
  position: relative;
  .letters,
  .numbers {
    display: flex;
    position: absolute;
    font-family: serif;
    --current-color: var(--board-color);
    color: hsl(from var(--board-color) 180 50% 50%);
    p {
      margin: 0;
    }
  }
  .letters {
    padding: 0 var(--board-container-padding);
    top: 1.5ch;
    left: 0;
    width: 100%;
    p {
      width: var(--cell-width);
      text-align: center;
    }
  }
  .numbers {
    display: flex;
    flex-direction: column;
    left: 1.5ch;
    p {
      height: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--cell-width);
    }
  }
}

[data-stage='main'] {
  .boards {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    /* zoom: 0.8; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .board-container {
    background-color: var(--board-color);
    padding: var(--board-container-padding);
    position: relative;

    &[data-name] {
      &::before {
        content: attr(data-name);
        position: absolute;
        width: 50%;
        background-color: inherit;
        top: calc(var(--board-container-padding) / 1.5 * -1);
        left: 50%;
        transform: translate(-50%, -25%);
        display: grid;
        place-content: center;
        padding: 0.5em;
        font-family: cursive;
        color: white;
        box-sizing: border-box;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
  .board {
    background-color: white;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    &.overlay {
      background-color: transparent;
      position: absolute;
      margin: var(--board-container-padding) 0;
      top: 0;
      --cell-color: transparent;
      .board-cell {
        pointer-events: none;
        border: none;
        /* transform: translate(-50%, -50%); */
        /* zoom: 0.8; */
        opacity: 0.8;
        &[data-value='hit'] {
          opacity: 1;
          background-color: transparent;
          &::before {
            zoom: 2;
            font-family: cursive;
            font-weight: bold;
            color: hsl(from var(--hit-color) h s 40%);
            content: 'X';
          }
        }
      }
    }
    .board-cell {
      display: grid;
      place-content: center;

      background-color: var(--cell-color);
      transition: var(--transition-time) ease-in background-color;
      height: var(--cell-width);
      aspect-ratio: 1/1;
      border: 1px black solid;
      &:hover {
        background: hsl(from white h s 90%);
      }

      &[data-value='hit'] {
        background-color: var(--hit-color);
      }
      &[data-value='miss'] {
        background-color: var(--miss-color);
      }
      &[data-value='ship'] {
        background-color: var(--ship-color);
        border: none;
      }
    }
  }
  .board-container:has(.attacks) {
    --board-color: var(--attacks-color);
    color: var(--letters-numbers-color);
  }
}

[data-stage='1'] {
  background-color: purple;
}
