#stage-content {
  height: 100%;
  width: 100%;
  * {
    box-sizing: border-box;
  }
  overflow: hidden;
  background-color: lightblue;
}

:root {
  --cell-width: min(7.5vw, 40px);
  --board-container-padding: 2em;
  --board-color: wheat;
  --attacks-color: purple;
  --cell-color: white;
  --hit-color: red;
  --miss-color: lightgrey;
  --ship-color: blue;
  --transition-time: 500ms;
  --board-cell-border: 1px;
  --hover-error: red;
  --hover-valid: #2deb2d;
  --hover-color: var(--hover-valid);
  --padding-color: color-mix(in srgb, var(--hover-color), transparent 70%);
}
[data-stage] {
  width: 100%;
  height: 100%;
  position: relative;
  div {
    &:focus {
      outline: none;
    }
  }
  .letters,
  .numbers {
    display: flex;
    position: absolute;
    font-family: serif;
    --current-color: var(--board-color);
    color: hsl(from var(--board-color) 180 50% 50%);
    p {
      margin: 0;
    }
    /* transition: var(--transition-time) background-color; */
  }

  .letters {
    padding: 0 var(--board-container-padding);
    top: 1.5ch;
    left: 0;
    width: 100%;
    p {
      width: var(--cell-width);
      text-align: center;
    }
  }
  .numbers {
    display: flex;
    flex-direction: column;
    left: 1.5ch;
    p {
      height: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--cell-width);
    }
  }
}

[data-stage='main'] {
  .boards {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    /* zoom: 0.8; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .board-container {
    background-color: var(--board-color);
    padding: var(--board-container-padding);
    position: relative;

    &[data-name] {
      &::before {
        content: attr(data-name);
        position: absolute;
        width: 50%;
        background-color: inherit;
        top: calc(var(--board-container-padding) / 1.5 * -1);
        left: 50%;
        transform: translate(-50%, -25%);
        display: grid;
        place-content: center;
        padding: 0.5em;
        font-family: cursive;
        color: white;
        box-sizing: border-box;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
  .board {
    background-color: white;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    &.overlay {
      background-color: transparent;
      position: absolute;
      margin: var(--board-container-padding) 0;
      top: 0;
      --cell-color: transparent;
      .board-cell {
        pointer-events: none;
        border: none;
        /* transform: translate(-50%, -50%); */
        /* zoom: 0.8; */
        opacity: 0.8;
        &[data-value='hit'] {
          opacity: 1;
          background-color: transparent;
          &::before {
            zoom: 2;
            font-family: cursive;
            font-weight: bold;
            color: hsl(from var(--hit-color) h s 40%);
            content: 'X';
          }
        }
      }
    }
    .board-cell {
      display: grid;
      place-content: center;

      background-color: var(--cell-color);
      transition: var(--transition-time) ease-in background-color;
      height: var(--cell-width);
      aspect-ratio: 1/1;
      border: 1px black solid;
      &:hover {
        background: hsl(from white h s 90%);
      }

      &[data-value='hit'] {
        background-color: var(--hit-color);
      }
      &[data-value='miss'] {
        background-color: var(--miss-color);
      }
      &[data-value='ship'] {
        background-color: var(--ship-color);
        border: none;
      }
    }
  }
  .board-container:has(.attacks) {
    --board-color: var(--attacks-color);
    color: var(--letters-numbers-color);
  }
}

[data-stage='preparation'] {
  background-color: purple;
  .boards {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .board-container {
    background-color: var(--board-color);
    padding: var(--board-container-padding);
    position: relative;

    &[data-name] {
      &::before {
        content: attr(data-name);
        position: absolute;
        width: 50%;
        background-color: inherit;
        top: calc(var(--board-container-padding) / 1.5 * -1);
        left: 50%;
        transform: translate(-50%, -25%);
        display: grid;
        place-content: center;
        padding: 0.5em;
        font-family: cursive;
        color: white;
        box-sizing: border-box;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }

  .ships {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    .board {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      .board-cell {
        height: var(--cell-width);
      }
    }
  }
  .player {
    .board {
      .board-cell {
        height: var(--cell-width);
      }
    }
  }
  .board {
    position: relative;
    z-index: 0;
    background-color: white;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    &.ships {
      -webkit-user-drag: all;
      pointer-events: all;
      background-color: transparent;
      .board-cell {
        border: none;
        &::before {
          position: absolute;
          z-index: -1;
          border: 1.5px black solid;
          content: '';
          display: block;
          width: var(--cell-width);
          height: var(--cell-width);
          background-color: white;
        }
      }
    }

    .board-cell {
      aspect-ratio: 1/1;
      border: 1px black solid;

      &[data-value='ship'] {
        background-color: var(--ship-color);
        border: none;
      }
      &[data-value='oldShip'] {
        background-color: green;
        border: none;
      }

      .draggable-ship {
        color: black;
        width: 100%;
        left: 1px;
        height: calc(((100%) * attr(data-length type(<number>))) + 2px);
        transform-origin: 50% calc((var(--cell-width) + 3px) * 0.5);
        rotate: 180deg;
        background-color: var(--ship-color);
        box-sizing: content-box;
        border: 1px black solid;
        &:hover {
          cursor: pointer;
          /* background-color: red; */
        }

        position: relative;
        &[data-holding='true'] {
          position: fixed;
          --first-cell-position: calc(var(--cell-width) / 2);
          transform: translate(50%, var(--first-cell-position));
          width: var(--cell-width);
          height: calc(var(--cell-width) * attr(data-length type(<number>)));
          top: attr(data-y px);
          left: attr(data-x px);
          z-index: 10;
          pointer-events: none;
          background-color: color-mix(in srgb, var(--ship-color) 100%, transparent 90%);
          border: 2px color-mix(in srgb, var(--ship-color) 100%, black 50%) solid;
          opacity: 0.4;
        }
        &[data-rotation='1'] {
          transform: translate(-50%, var(--first-cell-position));
          rotate: 90deg;
        }
      }
    }
  }
  .player {
    .board {
      position: relative;
      z-index: 0;
    }
    .board-cell {
      position: relative;
      &[data-padding='true'] {
        background-color: var(--padding-color);
        /* opacity: 0.2; */
      }
      &[data-hovered='true'] {
        opacity: 1;
        background-color: var(--hover-color);
      }
      .draggable-ship {
        opacity: 0;
      }
    }
  }
  .ships {
    .board-cell {
      .draggable-ship[data-holding='false'] {
        &[data-rotation='1'] {
          transform-origin: 50% calc((var(--cell-width) + 3px) * 0.5);
          rotate: 180deg;
        }
      }
    }
  }
  .second-column {
    .button-container {
      position: relative;
      display: grid;

      button {
        position: absolute;
        place-self: center;

        top: 1rem;
        padding: 1rem;
        font-size: 1.8em;
        width: 10rem;
        border-radius: 5rem;
        outline: none;
        border: none;
        font-family: monospace;
        color: white;
        font-weight: bold;
        background-color: var(--board-color);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
        &:hover {
          opacity: 0.8;
        }
        &:active {
          transform: translateY(5px);
          box-shadow: none;
        }
      }
    }
  }
}
